html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .main {
    display: flex;
    min-height: 100vh;
    font-family: sans-serif;
    align-items: stretch; /* fuerza que los hijos tengan la misma altura */
  }
  
  .main .sidebar {
    background: rgb(240, 181, 19);
    width: 250px;
    padding: 12px 24px;
    box-sizing: border-box;
  }
  
  .main .contenido {
    background: rgb(133, 133, 133);
    flex-grow: 1;
    padding: 12px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  ul li {
    border-bottom: 1px solid black;
  }
  
  ul a,
  ul a:link {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    display: block;
    width: 100%;
  }
  
  .imgBackground {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
  }
  .fila-edicion:hover {
    cursor: pointer;
  }

  .fila-edicion.selected {
    outline: 2px solid rgb(240, 181, 19);
  }

  .sendButton{
    background-color: rgb(240, 181, 19);
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
  }