html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
  align-items: stretch; /* fuerza que los hijos tengan la misma altura */
}

.main .sidebar {
  background: rgb(240, 181, 19);
  width: 250px;
  padding: 12px 24px;
  box-sizing: border-box;
}

.main .contenido {
  background: rgb(133, 133, 133);
  flex-grow: 1;
  padding: 12px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
  list-style: none;
  margin: 0;
}

ul li {
  border-bottom: 1px solid black;
}

ul a,
ul a:link {
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  display: block;
  width: 100%;
}

.imgBackground {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 150px;
}

.button-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 12px;
}

.botonSave{
  background-color: rgb(240, 181, 19);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1; /* Ocupa la mitad del contenedor */
  text-align: center;
}

.drop-zone {
  border: 3px dashed #888;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #666;
  background-color: #f9f9f9;
  transition: background-color 0.3s, border-color 0.3s;
}

.drop-zone.dragover {
  background-color: rgb(240, 181, 19);
  border-color: rgb(240, 181, 19);
  color: rgb(15, 240, 181, 19);
}